In [11]:
import pandas as pd

In [43]:
data_ox = pd.read_csv('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv', low_memory=False)
#data_ox.shape

data_ox.to_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\Final_Project_Mod2\\data\\oxford_raw.csv')

In [18]:
#https://github.com/OxCGRT/covid-policy-tracker/blob/master/documentation/codebook.md
#I used the codebook to understand the columns and sort them

data_ox.columns

Index(['CountryName', 'CountryCode', 'RegionName', 'RegionCode', 'Date',
       'C1_School closing', 'C1_Flag', 'C2_Workplace closing', 'C2_Flag',
       'C3_Cancel public events', 'C3_Flag', 'C4_Restrictions on gatherings',
       'C4_Flag', 'C5_Close public transport', 'C5_Flag',
       'C6_Stay at home requirements', 'C6_Flag',
       'C7_Restrictions on internal movement', 'C7_Flag',
       'C8_International travel controls', 'E1_Income support', 'E1_Flag',
       'E2_Debt/contract relief', 'E3_Fiscal measures',
       'E4_International support', 'H1_Public information campaigns',
       'H1_Flag', 'H2_Testing policy', 'H3_Contact tracing',
       'H4_Emergency investment in healthcare', 'H5_Investment in vaccines',
       'M1_Wildcard', 'ConfirmedCases', 'ConfirmedDeaths', 'StringencyIndex',
       'StringencyIndexForDisplay', 'StringencyLegacyIndex',
       'StringencyLegacyIndexForDisplay', 'GovernmentResponseIndex',
       'GovernmentResponseIndexForDisplay', 'ContainmentHealthIndex',
       'ContainmentHealthIndexForDisplay', 'EconomicSupportIndex',
       'EconomicSupportIndexForDisplay'],
      dtype='object')

In [39]:
data_ox = data_ox[['CountryName', 'RegionName', 'Date', 'C1_School closing', 'C2_Workplace closing',
         'C3_Cancel public events', 'C4_Restrictions on gatherings', 'C5_Close public transport', 
         'C6_Stay at home requirements', 'C7_Restrictions on internal movement', 'C8_International travel controls', 
         'E1_Income support', 'E2_Debt/contract relief', 'E3_Fiscal measures', 'E4_International support', 
         'H1_Public information campaigns', 'H2_Testing policy', 'H3_Contact tracing', 
         'H4_Emergency investment in healthcare', 'H5_Investment in vaccines', 'ConfirmedCases', 'ConfirmedDeaths', 
         'StringencyIndexForDisplay', 'StringencyLegacyIndexForDisplay', 'GovernmentResponseIndexForDisplay',  
         'ContainmentHealthIndexForDisplay', 'EconomicSupportIndexForDisplay']]

In [42]:
data_ox.to_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\Final_Project_Mod2\\data\\oxford_clean.csv')

In [38]:
data_ox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59045 entries, 0 to 59044
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   CountryName                            59045 non-null  object
 1   RegionName                             13720 non-null  object
 2   Date                                   59045 non-null  int64
 3   C1_School closing                      57202 non-null  float64
 4   C2_Workplace closing                   57088 non-null  float64
 5   C3_Cancel public events                57165 non-null  float64
 6   C4_Restrictions on gatherings          57121 non-null  float64
 7   C5_Close public transport              57290 non-null  float64
 8   C6_Stay at home requirements           57132 non-null  float64
 9   C7_Restrictions on internal movement   57244 non-null  float64
 10  C8_International travel controls       57126 non-null  float64
 11  E1_Income support                      56184 non-null  float64
 12  E2_Debt/contract relief                55755 non-null  float64
 13  E3_Fiscal measures                     46578 non-null  float64
 14  E4_International support               46771 non-null  float64
 15  H1_Public information campaigns        56672 non-null  float64
 16  H2_Testing policy                      56328 non-null  float64
 17  H3_Contact tracing                     56289 non-null  float64
 18  H4_Emergency investment in healthcare  46081 non-null  float64
 19  H5_Investment in vaccines              46484 non-null  float64
 20  ConfirmedCases                         46187 non-null  float64
 21  ConfirmedDeaths                        46187 non-null  float64
 22  StringencyIndex                        57029 non-null  float64
 23  StringencyIndexForDisplay              57893 non-null  float64
 24  StringencyLegacyIndex                  57069 non-null  float64
 25  StringencyLegacyIndexForDisplay        57933 non-null  float64
 26  GovernmentResponseIndex                56053 non-null  float64
 27  GovernmentResponseIndexForDisplay      56915 non-null  float64
 28  ContainmentHealthIndex                 56290 non-null  float64
 29  ContainmentHealthIndexForDisplay       57152 non-null  float64
 30  EconomicSupportIndex                   55643 non-null  float64
 31  EconomicSupportIndexForDisplay         56465 non-null  float64
dtypes: float64(29), int64(1), object(2)
memory usage: 14.4+ MB

In [49]:
coronanet_all = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\Final_Project_Mod2\\coronanet_release_allvars.csv')
coronanet_all.shape

(31214, 39)

In [50]:
coronanet = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\Final_Project_Mod2\\coronanet_release.csv')
coronanet.shape

(31214, 39)

In [51]:
coronanet_all == coronanet

#These 2 tables have different entries, I'll use SQL to compare them.

,record_id,policy_id,entry_type,correct_type,update_type,update_level,description,date_announced,date_start,date_end,...,travel_mechanism,compliance,enforcer,index_high_est,index_med_est,index_low_est,index_country_rank,link,date_updated,recorded_date
0,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31209,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31210,False,False,True,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
31211,False,False,True,True,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
31212,False,False,True,True,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
31213,False,False,True,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False

In [59]:
owid = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\Final_Project_Mod2\\owid-covid-data.csv')
owid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,31/12/2019,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,01/01/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,02/01/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,03/01/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,04/01/2020,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40954,NaN,NaN,International,28/08/2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40955,NaN,NaN,International,29/08/2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40956,NaN,NaN,International,30/08/2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40957,NaN,NaN,International,31/08/2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40958,NaN,NaN,International,01/09/2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
owid.isnull().sum()

iso_code                             246
continent                            492
location                               0
date                                   0
total_cases                          575
new_cases                            757
new_cases_smoothed                  1539
total_deaths                         575
new_deaths                           757
new_deaths_smoothed                 1539
total_cases_per_million              821
new_cases_per_million                821
new_cases_smoothed_per_million      1604
total_deaths_per_million             821
new_deaths_per_million               821
new_deaths_smoothed_per_million     1604
new_tests                          27847
total_tests                        27516
total_tests_per_thousand           27516
new_tests_per_thousand             27847
new_tests_smoothed                 26217
new_tests_smoothed_per_thousand    26217
tests_per_case                     27329
positive_rate                      26973
tests_units                        25462
stringency_index                    7036
population                           246
population_density                  2067
median_age                          4383
aged_65_older                       4921
aged_70_older                       4572
gdp_per_capita                      4839
extreme_poverty                    16838
cardiovasc_death_rate               4370
diabetes_prevalence                 3095
female_smokers                     12148
male_smokers                       12507
handwashing_facilities             23962
hospital_beds_per_thousand          7820
life_expectancy                      750
dtype: int64